html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  --ros-orange: #db6a26;
}

body {
  font-size: .875rem;
  position: fixed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.scroll {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*
 * Sidebar
 */

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Viewport
 */

.safe-margin-left {
  margin-left: calc(env(safe-area-inset-left) * (2/3));
}

.safe-margin-right {
  margin-right: calc(env(safe-area-inset-right) * (2/3));
}

.safe-padding-left {
  padding-left: calc(env(safe-area-inset-left) * (2/3));
}

.safe-padding-right {
  padding-right: calc(env(safe-area-inset-right) * (2/3));
}