body {
	font-family: Verdana;
}

:root {
	--ros-color-background: #181818;
	--ros-color-menu: #212121;
	--ros-color-hover: #3D3D3D;
	--ros-color-highlight: #F06000;
	--ros-color-primary-text: #FFF;
	--ros-color-secondary-text: #AAA;
}

body {
	background: var(--ros-color-background);
	color: var(--ros-color-secondary-text);
}

a {
	text-decoration: underline;
	color: var(--ros-color-secondary-text);
}

a:hover {
	color: var(--ros-color-primary-text);
}

h1, h2, h3 {
	color: var(--ros-color-primary-text);
}

code {
	padding: 5px;
	background-color: var(--ros-color-menu);
}

button {
	border: 0px none;
	cursor: pointer;
	cursor: pointer;
}

button:hover {
	background: var(--ros-color-hover);
}

button[type="submit"] {
	border-color: var(--ros-color-highlight);
	border-width: 1px;
	border-style: solid;
}

form .row {
	margin-bottom: 5px;
}

button,
select,
input,
textarea {
	padding: 5px;
	background-color: var(--ros-color-menu);
	color: var(--ros-color-primary-text);
}