@media (prefers-color-scheme: light) {
	:root {
		--ros-color-background: white;
		--ros-color-menu: #FFF;
		--ros-color-hover: #3D3D3D;
		--ros-color-primary-text: black;
		--ros-color-secondary-text: #3D3D3D;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--ros-color-background: #181818;
		--ros-color-menu: #212121;
		--ros-color-hover: #3D3D3D;
		--ros-color-primary-text: #FFF;
		--ros-color-secondary-text: #AAA;
	}
}
