:root {
  color-scheme: light dark;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  background: light-dark(#fff, #000);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(244 128 64);
}

.dark {
  color: hsl(240deg 4.8% 95.9%);
  background: hsl(240deg 5.9% 10%);
}

.light {
  color: hsl(240deg 5.9% 10%);
  background: hsl(0deg 0% 100%);
}